<% include ../views/partials/header.ejs %>
    
    <div class="row">
        <div class="col-md-6">
            <form action="/todo/edit/<%= todo._id %>" method="POST">
                <div class="form-group">
                    <label>Text: </label>
                    <input class="form-control" type="text" name="text" value="<%= todo.text %>">
                </div>
                <div class="form-group">
                    <label>Body: </label>
                    <textarea name="body" class="form-control" cols="30" rows="10"><%= todo.body %></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
                <a href="/" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>

<% include ../views/partials/footer.ejs %>