<% include ../views/partials/header.ejs %>
    <ul>
        <% todos.forEach((todo)=>{ %>
            <li>
                <%= todo.text %> - <%= todo.body  %>
            </li>
        <% }) %>
    </ul>
    


<% include ../views/partials/footer.ejs %>