
    </div>
    <div class="footer">
        <h5>Copyright @ 2018 - Hy Chhayrith</h5>
    </div>
    <script src="/bower_components/ajax/dist/ajax.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>